@model Cobranzas.Data.dispositivo
@using (Ajax.BeginForm("Edit", "dispositovoes", null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnSuccess = "SuccessEdit",
    OnFailure = "FailEdit",
    OnBegin = "return Validation();"


}, new { id = "ci" }))
{
    if (Model != null)
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Editar Dispositivos</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.imei, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.imei, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.imei, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.dispositivoID)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <input type="submit" value="Guardar" class="btn btn-default" />*@
                    <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Guardar" />
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    }

}


<!-- /.modal-dialog -->
<script>
    function SuccessEdit(e) {
        if (e[0].Key == "OK") {
            success(e[0].Value);
            Listar();
            $('#editmodal').modal('hide');
        } else {
            error(e[0].Value);
        }
    }
    function FailEdit(e) {

    }
    function Validation() {
        return true;
    }
</script>

